
@tailwind utilities;

@import "tailwindcss";
@plugin './hero.ts';
@plugin "@tailwindcss/typography";
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-out {
  animation: fadeInOut 4s ease-in-out infinite;
}

.plugin-card {
  margin-bottom: 16px;
}
